Source: moxa-wifi-utils
Section: net
Priority: optional
Maintainer: Aeluin Chen <aeluin.chen@moxa.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.moxa.com/

Package: moxa-wifi-utils
Architecture: all
Depends: ${misc:Depends}, wpasupplicant, iw, gawk
Description: WiFi interface utility on Moxa computer.

Package: moxa-wifi-signald
Architecture: all
Depends: ${misc:Depends}, moxa-wifi-utils (>= 1.2.0)
Description: Light signal LED for WiFi interface on Moxa computer.
